target/
.idea/
*.iml
vaadin-crud-flow-integration-tests/error-screenshots/
**/build-tools/node
**/build-tools/node_modules
**/package-lock.json
**/bower_components/
**/frontend/generated/
**/vite.generated.ts

.eclipse
.vscode

.project
.settings
.classpath

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.*.js
node_modules/
dev-bundle/
/autocomplete-demo/vite.generated.ts
/autocomplete-demo/vite.config.ts
/autocomplete-demo/tsconfig.json
/autocomplete-demo/types.d.ts
/autocomplete-demo/src/main/bundles/

